html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Remove barras de rolagem */
    position: relative; 
    background: linear-gradient(45deg, #00e5ff 10%, #00a5ff 20%, #005aff 30%, #a200ff 40%, #d900ff 50%, #ff00e5 60%, #ff8500 70%, #ffa500 80%, #00ff5b 90%, #00ff9d 100%);
}

/* Efeitos visuais */
.effects {
    width: 99%;
    height: 98%;
    background-color: white;
    position: absolute;
    filter: blur(7.5px);
    top: 1%;
    left: 0.5%;
    z-index: 2; /* Sobrepõe o fundo desfocado */
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra elegante */
}

.apple-intelligence-page-effect {
    background: linear-gradient(45deg, #00e5ff 10%, #00a5ff 20%, #005aff 30%, #a200ff 40%, #d900ff 50%, #ff00e5 60%, #ff8500 70%, #ffa500 80%, #00ff5b 90%, #00ff9d 100%);
    filter: blur(80px); /* Desfoque aplicado ao gradiente */
    transform: scale(1.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1; /* Visível por padrão */
    animation: gradientShift 3s infinite alternate; /* Gradiente animado */
    background-size: 200% 200%;
    z-index: 3; /* Fica sobre os demais elementos */
}

/* Animação do gradiente */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}